body{
    margin: 0;
    padding: 0;
}

#image{
    background-image: url("FullSizeRender.jpg");
    background-size: cover;
    min-height: 100%;
    position: fixed;
    overflow: auto;
    z-index: -100;
    top: 0%;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -100;
    overflow: hidden;
}

#big-text{
    color: rgb(250, 235, 215);
    font-family: 'Source Serif Pro', serif;
    position: absolute;
    display: inline-block;
    top: 50%;
    font-size: 500%;
    left: 2%;
}

h1{
    position: absolute;

}

article{
    position: absolute;
    top: 100%;
    background-image: url("space.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	min-height: 100%;
	min-width: 100%;
	max-width: 100%;
}

article h1{
    color: rgb(250, 235, 215);
    font-family: 'Source Serif Pro', serif;
    font-size: 400%;
    margin-top: 10%;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
    text-align: center;
	opacity: 1;
	display: block;
    position: static;
    margin: 0 auto;
    padding-top: 5%;
    padding-bottom: 2%;
    
}

article p{
    color: rgb(250, 235, 215);
    font-family: 'Source Serif Pro', serif;
    text-align: center;
	font-size: 25px;
	font-weight: 500;
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
	opacity: 1;
	display: block;
    width: 50%;
    position: static;
    margin: 0 auto;
}

article h2{
    color: rgb(250, 235, 215);
    font-family: 'Source Serif Pro', serif;
    font-size: 300%;
    margin-top: 10%;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
    text-align: center;
	opacity: 1;
	display: block;
    position: static;
    margin: 0 auto;
    padding-top: 5%;
}

article ul{
    text-align: center;
    color: rgb(250, 235, 215);
    font-family: 'Source Serif Pro', serif;
}

article li{
    line-height: 200%;
	list-style: none;
	overflow: auto;
	font-family: Verdana;
    font-size: 25px;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
}

